# EditorConfig to ensure consistent coding styles
root = true

# General settings applicable to all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for HTML files
[*.html]
max_line_length = 120

# Specific settings for CSS files
[*.css]
max_line_length = 80

# Specific settings for JavaScript files
[*.js]
quote_type = single
max_line_length = 120
